extends MAIN.pug 
block container
    div(class="HOME")
        div(class="container")
            div(class="row")
                div(class="col")
                    div(class="contact")
                        h3 تواصل معنا ليصلك كل جديد و اترك لنا اقتراحك من فضلك 
                        form
                            div(class="name")
                                input(type="text" placeholder="الاسم الاول")
                                input(type="text" placeholder="الاسم الاخير")
                            div(class="email")
                                input(type="email" placeholder="البريد الالكتروني")
                                input(type="text" placeholder="رقم الهاتف ")
                            textarea(placeholder="اكتب لنا اقتراحك هنا ")
                            button اضغط للارسال 