extends MAIN.pug
block container
    div(class="HOME")
        div(class="container")







            div(class="row")
                div(class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6")
                    img(src="../IMAGES/IMG_٢٠٢٠١١١٧_٠١٠٩١٩.jpg")
                div(class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6")
                    div(class="weare" id="WE-ARE")
                        h1 هيا بنا للتعرف علينا 
                        p نحن شركة الاسراء لاعمال الالوميتال لصاحبها "Osama Fawzy" 
                        p نقدم لكم عملائنا "WORK FAST" الذي يسهل لكم عملكم لانة يمدكم بالاتي : 
                        ul
                            div
                                i(class="fas fa-chevron-left")
                                li تخصيمات الشبابيك المنزلقة
                            div
                                i(class="fas fa-chevron-left")
                                li تخصيمات الشبابيك المفصلية 
                            div
                                i(class="fas fa-chevron-left")
                                li تخصيمات الابواب المضصلية 
                            div
                                i(class="fas fa-chevron-left")
                                li بيان جميع الاكسسوارات 
                            div
                                i(class="fas fa-chevron-left")
                                li بيان بمقاسات الزجاج 
                            div
                                i(class="fas fa-chevron-left")
                                li بيان بالسعر والوزن 
                            div
                                i(class="fas fa-chevron-left")
                                li بيان بالاسعار الحالية 






            div(class="row")
                div(class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6")
                    div(class="chooseus")
                        h1 لماذا تختارنا ؟
                        div 
                            i(class="fas fa-rocket fa-3x")
                            h3 العمل الاكثر سرعة !
                            p الان ! لماذا مازلت تهدر في وقتك استخدم "WORK FAST" الان لعمل اكثر سرعة ومرونة .
                        div 
                            i(class="fas x3 fa-comment-dots fa-3x")
                            h3 التواصل الدائم مع العملاء 
                            p  توصل معنا في اي وقت فنحن نعمل جميعنا مع حيث نساعد بعضنا البعض هيا اتصل معنا الان ! .
                        div  
                            i(class="fas fa-globe fa-3x")
                            h3 العمل من اي مكان
                            p الان ! يمكنك العمل من اي مكان ان كان لا يلزم الوجود داخل مكان عملك .
                        div 
                            i(class="fas fa-wallet fa-3x")
                            h3 كل ذلك مجانا !!
                            p الان ! بامكانك العمل بسرعة ومرونة وبدون اخطاء دون الدفع جنيها واحدا .
                div(class="col col-sm-12 col-md-12 col-lg-12 col-xl-6")
                    video(controls poster="../IMAGES/IMG_٢٠٢٠١١١٧_٠١٠٩١٩.jpg")
                        source(src="../IMAGES/templete LV 3.html.mp4" )
                    span                        
                        h2 شاهد هذا الفيديو الان للتعرف علي "WORKFAST"
                        p بعد مشاهدة هذا الفيديو ستكون قادر غلي ىتحديد كم الاستفادة من هذا الموقع 






            div(class="row")
                div(class="startwork" id="START-WORK") 
                    h1 ابدا عملك الان ! 
                    h3 اختار تخصص محدد للعمل عليه
                    div(class="kindsbuttons")
                        button  
                            a(href="KINDS-1.html") منزلق
                        button 
                            a(href="KINDS-2.html") مفصلي 






            div(class="row")
                div(class="cataloges" id="CATALOGAIES") 
                    h1 اطلع علي الكاتالوجات
                    h3 اختار التخصص المناسب لك 
                    div(class="kindscataloges")
                        button 
                            a(href="PRICES.html") الاسعار 
                        button 
                            a(href="WIGHTS.html") الاوزان






            div(class="row")
                div(class="ourcleints" id="OUR-CLIENTS")
                    h1 ماذا قال عملائنا عنا 
                    div(id="clients")
                        div(class="active")
                            h2 اسم العميل 
                            blockqoute رسالة العميل 
                        div
                            h2 اسم العميل 
                            blockqoute رسالة العميل 
                        div
                            h2 اسم العميل 
                            blockqoute رسالة العميل 
                        div
                            h2 اسم العميل 
                            blockqoute رسالة العميل 





            div(class="row")
                h1 فريق العمل 
                div(class="col col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6")
                    div(class="founder" id="OUR-TEAM")
                            h1 المؤسس والمدير التنفيذي 
                            img(src="../IMAGES/IMG-20200218-WA0039.jpg" alt="Ahmed Osama")
                            h2 Ahmed Osama
                            p  المؤسس للموقع والمدير هو احد اعضاء "Elesraa For Aluminom Works" .
                            div
                                i(class="fab fa-facebook fa-2x")
                                span Ahmed Osama
                            div
                                i(class="fab fa-instagram fa-2x")
                                span ahmed_osama
                            div
                                i(class="fab fa-whatsapp fa-2x")
                                span 01115575324







            div(class="row")
                div(class="col")
                    div(class="counter")
                        i(class="fas fa-flag fa-2x")
                        span 0
                        span سنين الخبرة 
                div(class="col")
                    div(class="counter")
                        i(class="fas fa-user fa-2x")
                        span 0
                        span الزائرين
                div(class="col")
                    div(class="counter")
                        i(class="fas fa-comment-dots fa-2x")
                        span 0
                        span التعليقات
                div(class="col")
                    div(class="counter")
                        i(class="fas fa-heart fa-2x")
                        span 0
                        span الاعجابات